{{#models}}
{{#model}}

package {{package}};

import lombok.Data;
import lombok.Builder;
import lombok.NoArgsConstructor;
import lombok.AllArgsConstructor;
import jakarta.validation.Valid;
import java.time.OffsetDateTime;
import java.util.List;
import java.math.BigDecimal;
import java.util.Map;
import java.net.URI;
import java.util.UUID;

@Data
@Builder
@NoArgsConstructor
{{#vars}}
{{#-first}}
@AllArgsConstructor
{{/-first}}
{{/vars}}
public class {{classname}} {

{{#vars}}
    {{#required}}
    {{#isString}}
    @jakarta.validation.constraints.NotBlank
    {{/isString}}
    {{^isString}}
    @jakarta.validation.constraints.NotNull
    {{/isString}}
    {{/required}}
    {{#isString}}
    {{#minLength}}
    @jakarta.validation.constraints.Size(min={{minLength}}{{#maxLength}}, max={{maxLength}}{{/maxLength}})
    {{/minLength}}
    {{^minLength}}
    {{#maxLength}}
    @jakarta.validation.constraints.Size(max={{maxLength}})
    {{/maxLength}}
    {{/minLength}}
    {{#pattern}}
    @jakarta.validation.constraints.Pattern(regexp="{{{pattern}}}")
    {{/pattern}}
    {{#isEmail}}
    @jakarta.validation.constraints.Email
    {{/isEmail}}
    {{/isString}}
    {{#isNumber}}
    {{#minimum}}
    @jakarta.validation.constraints.DecimalMin(value="{{minimum}}", inclusive=true)
    {{/minimum}}
    {{#maximum}}
    @jakarta.validation.constraints.DecimalMax(value="{{maximum}}", inclusive=true)
    {{/maximum}}
    {{/isNumber}}
    {{#isInteger}}
    {{#minimum}}
    @jakarta.validation.constraints.Min({{minimum}})
    {{/minimum}}
    {{#maximum}}
    @jakarta.validation.constraints.Max({{maximum}})
    {{/maximum}}
    {{/isInteger}}
    {{#isArray}}
    {{#minItems}}
    @jakarta.validation.constraints.Size(min={{minItems}})
    {{/minItems}}
    {{#maxItems}}
    @jakarta.validation.constraints.Size(max={{maxItems}})
    {{/maxItems}}
    {{/isArray}}
    {{#isModel}}
    @jakarta.validation.Valid
    {{/isModel}}
    @com.fasterxml.jackson.annotation.JsonProperty("{{baseName}}")
    private {{{datatype}}} {{name}};

{{/vars}}

}

{{/model}}
{{/models}}